ng-scrollbar {
    --scrollbar-size: 4px !important;
    --scrollbar-thumb-color: rgba(204,204,204,0.4) !important;
    --scrollbar-thumb-hover-color: #ccc !important;
    --scrollbar-border-radius: 4px !important;
    --scrollbar-hover-size: 8px !important;
    --scrollbar-padding: 2px !important;
}